@media screen and (max-width : 800px) {
#usuario {
    font-size: calc(0.9em + 0.5vw)!important;
}
}
#usuario {
    font-size: 1.2em!important;
}
.formularioPildoras{
   
    display: flex;
    justify-content: center;
    margin: 13vh 0 23vh 10vw;
}
legend.text-center.header.num1{
    margin: 0 0 5vw 0;
    font-weight: bolder !important;
    font-size: 30px;
}

.form-group.num2{
    display: flex;
    justify-content: center;
}