*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed'!important;
}
html{
    height: 100%;
}

body{
    height: 100%;
}

header{
    background-color: #369FFF;
    height: 10vh;
    box-shadow: 0px 1px 10px #9a9a9a;
}

header>img, svg{
    width: 5em;
    transform: rotate(45deg);
}

.tituloHeader{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    letter-spacing: 0.3em;
}

.form-group{
    margin: 1.5em 0 1.5em 0;
}
.btn-primary{
   background-color: #0061FF!important;
   border-color: #0061FF!important;
}

.info{
border-color: #a1d0fb!important;
}

.text{
    color: #4ba8ff!important;
}

.btn{
background-color: #369FFF!important;
border:none!important;
}

.asistenciaGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1em;
}