*{
    box-sizing: border-box;
    font-family: 'Roboto Condensed'!important;
}
html{
    height: 100%;
}

body{
    height: 100%;
}

header{
    background-color: #369FFF;
    height: 10vh;
    box-shadow: 0px 1px 10px #9a9a9a;
}

#Layer_1{
    width: 5em;
    transform: rotate(45deg);
}

.tituloHeader{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    letter-spacing: 0.3em;
}

.form-group{
    margin: 1.5em 0 1.5em 0;
}
.btn-primary{
   background-color: #0061FF!important;
   border-color: #0061FF!important;
}

.info{
border-color: #a1d0fb!important;
}

.text{
    color: #4ba8ff!important;
}

.btn{
background-color: #369FFF!important;
border:none!important;
}

.asistenciaGrid1,
.pildorasGrid2,
.tareasGrid3{
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 16vw 16vw;
    grid-template-rows: 22vh 22vh;
    grid-auto-flow: dense;
}

.columnas{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin-bottom: 2vw;
}
.card-text, .card-title{
    font-size: 1rem;
}
.card-body>.card-title{
    text-align: center;
    -webkit-text-stroke-width: thin;
}

.asistenciaGrid1>.bg-info {
    background-color: #1c8cf3!important;
 }

.pildorasGrid2>.bg-info {
   background-color:#0a58ca!important;
}

.tareasGrid3>.bg-info {
    background-color: #6c757d!important;
 }



.enlaces{
    color: white;   
    text-align: center;
    list-style: none;
    margin: 0 2vw 0 0;
}
.enlaces li a{
    color: white;
}
.tituloh3{
    text-align: center;
}
.footerImagen{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
}
.text-center.p-3{
    padding: 0 !important;
}

.container.p-4{
    padding: 2px !important;
}
.miFooter{
    height: auto !important;
}
.imagenFooter{
    display: flex;
    align-items: center;
}

.tituloHeaderFooter{
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    letter-spacing: 0.3em;
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.letra h5, .letra p{
    font-size: calc(0.3em + 1vw);
}

.textNew h5, .textNew p{
    font-size: calc(0.3em + 0.7vw);
    margin-bottom: .3vh!important;
}

@media screen and (max-width : 800px) {
    .d-flex{
    flex-direction: column; 
    }
    
    .alineadoBotones{
        flex-direction: revert;
    }

    #formularioAsistencia{
        max-width: none!important;
        margin-right: 0rem!important;
    }
    #asistencias {
        width: 100%!important;
        align-items: center;
        align-content: center;
    }
    #asistencias h1{
        width: 50vw !important;

    }
   
    .asistenciaGrid1,
    .pildorasGrid2,
    .tareasGrid3{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50vw;
    }
   .asistenciaGrid1 div,
   .pildorasGrid2 div,
   .tareasGrid3 div{
       width: 70vw;
       max-width: none!important;
   }
   #content{
       min-height: none!important;
   }

   #header{
       align-items: center!important;
       flex-direction: row;
    }

#header h1{

        font-size: 9vw;
    }

    #Layer_1 {
        margin-bottom: 1.3em;
    }
    #contenedorbody{
        justify-content: start!important;
        width: 100%!important;
        align-items: center!important;
    }
    #form{
        width: 80%;
        font-size: calc(1.2em + 1vw);
        display: flex;
        flex-direction: column;
    }
    #btn-session{
        width: 80%!important;
        font-size: calc(0.8em + 1vw)!important;
        font-weight: bolder!important;
        margin-top: 5vh;
        align-self: center;
    }
    .form-group{
        margin: 0.5em 0 1.5em 0;
    }

.form-group input{
    height: 8vh;
    margin-top: 2vh;
}
.form-group label{
    font-weight: bold;
}
#emailHelp{
    font-size: calc(0.5em + 1vw);
}
.letra h5, .letra p{
    font-size: calc(0.7em + 1vw);
}

.textNew h5, .textNew p{
    font-size: calc(0.7em + 1vw);
    margin-bottom: .75rem!important;
}
}

